/thesis/auto/
/thesis/tex/auto/

/thesis/**/*.aux
/thesis/**/*.bbl
/thesis/**/*.blg
/thesis/**/*.fls
/thesis/**/*.lof
/thesis/**/*.log
/thesis/**/*.lol
/thesis/**/*.out
/thesis/**/*.pyg
/thesis/**/*.synctex.gz
/thesis/**/*.toc
/thesis/thesis.pdf
/cryptdb/libope.so
/presentation/3.1.0.tar.gz
/presentation/applicative-interp-0.png
/presentation/applicative-interp-1.png
/presentation/applicative-interp-2.png
/presentation/applicative-interp-3.png
/presentation/auto/
/presentation/delayed-bench-2.png
/presentation/delayed-bench-3.png
/presentation/monadic-interp-0.png
/presentation/monadic-interp-1.png
/presentation/monadic-interp-2.png
/presentation/monadic-interp-3.png
/presentation/monadic-interp-4.png
/presentation/monadic-interp-5.png
/presentation/monadic-interp-6.png
/presentation/monadic-interp-7.png
/presentation/monadic-interp-8.png
/presentation/monadic.png
/presentation/pic.png
/presentation/preview.aux
/presentation/preview.fls
/presentation/preview.html
/presentation/preview.log
/presentation/preview.out
/presentation/preview.out.pyg
/presentation/preview.pyg
/presentation/preview.tex
